# packages/results

# The content sheet, read by `npm run content -w results`
GOOGLE_SHEETS_SHEETID=""

# Netlify PAT
# npm run deploy-preview -w results
# https://app.netlify.com/user/applications
NETLIFY_AUTH_TOKEN=""
