{
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 140,
	"plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": [
		"<TYPES>",
		"",
		"<BUILTIN_MODULES>",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$(app|env)/",
		"",
		"^\\$(archive|charts/utils|config|content|data|generated|lib|questions)",
		"",
		"^\\$components/",
		"",
		"^\\$charts",
		"",
		"^[.]"
	],
	"importOrderTypeScriptVersion": "5.0.0",
	"importOrderCaseSensitive": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "packages/results/**",
			"options": {
				"tailwindStylesheet": "./packages/results/src/routes/layout.css"
			}
		}
	]
}
